[submodule "mocida/SDL_image"]
	path = mocida/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = release-3.2.x
[submodule "mocida/SDL_ttf"]
	path = mocida/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = release-3.2.x
